.loginPages {
	background-color: aliceblue;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.img {
			width: 12rem;
			height: auto;
			text-align: center;
			background-color: black;
			border-radius: 12px;
			margin-bottom: 1rem;
		}
		.forms {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			gap: 1rem;
			padding-inline: 2rem;
			padding-block: 2rem;
			border-radius: 8px;
			box-shadow: 0px 0px 6px rgb(11, 11, 11);
			h1 {
				font-size: 2.4rem;
				font-weight: 750;
				color: black;
			}
			.inputsAndButton {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
				gap: 0.8rem;
				.inputs {
					display: flex;
					flex-direction: column;
					gap: 3px;
					label {
						text-align: start;
						font-size: 1rem;
						font-weight: 650;
						color: rgb(32, 30, 30);
					}
				}
				.button1 {
					padding-inline: 6.8rem;
					padding-block: 0.5rem;
					border-radius: 8px;
					border: none;
					background-color: rgb(81, 81, 237);
					cursor: pointer;
				}
				.button2 {
					padding-inline: 5.4rem;
					padding-block: 0.5rem;
					border-radius: 8px;
					border: none;
					background-color: rgb(81, 81, 237);
					cursor: pointer;
				}
				.button3 {
					width: 15.5rem;
					padding-block: 0.3rem;
					display: flex;
					align-items: center;
					gap: 0.5rem;
					justify-content: center;
					border-radius: 8px;
					background-color: aliceblue;
					border: none;
					box-shadow: 0px 0px 4px rgb(23, 22, 22);
					cursor: pointer;
					span {
						color: black;
					}
				}
			}
		}
	}
}
